 .contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  p{
    margin-bottom: 50px;
  }

  input{
    padding: 15px;
    margin-top: 15px;
  }

  textarea{
    width: 100%;
    margin-top: 20px;
    max-height: 250px;
    min-height: 100px;
    padding-left: 12px;
  }

  .error-message{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
  }


input:invalid[focused="true"] ~ span{
    display: block;
}

input:invalid[focused="true"] {
  border: 1px solid red;
}

  /* button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
  } */

  .formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

label{
  font-size: 15px;
  color: gray;
}

.firstname, .lastname, .email, .subject {
  width: 100%;
}

.textarea{
  margin-top: 25px;
}

.contact h1{
  font-size: 50px;
}

@media screen and (min-width:900px){
  .contact .container{
    position: relative;
    bottom: 100px;
    left: 100px;
  }
}




  

  