@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
  font-family: 'Acme', sans-serif;
}

.home{
  height: auto;
}

.home h1{
    font-size: 50px;
  }
  
  .home p{
    font-size: 15px;
  }
  
  /* .home .btn{
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 300ms ease-in-out;
    align-items: center;
    width: 35%;
    margin-bottom: 60vh;
  } */
  
  /* .home .btn:hover{
    background-color: rgb(155, 27, 27);
    color: rgb(35, 32, 32);
    font-weight: bold;
  } */
  
  .home .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; 
  }

  .home button{
    margin-bottom: 60vh;
  }

  /* responsive */

  @media screen and (min-width:900px) {
    .home .container{
      position: relative;
      top: 140px;
      right: 350px;
      width: 25%;
    }

    .outer-div{
      position: relative;
      right: 450px;
    }
  }



  

  