@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --bg-color: rgb(35, 32, 32);
  --typewriterSpeed: 0.5s;
  --typewriterCharacters: 4;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}

.home,
.about,
.skills,
.projects,
.contact
 {
  /* display: block; */
  height:100vh;
  font-size: 3rem;
  background-color: rgb(35, 32, 32);
  color: white;
}

.home h1{
  font-size: 50px;
}

.home p{
  font-size: 25px;
}

.home .btn{
  color: white;
  border:1px solid rgb(155, 27, 27);
  transition: 300ms ease-in-out;
  align-items: center;
}

.home .btn:hover{
  background-color: rgb(155, 27, 27);
  color: rgb(35, 32, 32);
  font-weight: bold;
}

.home .container{
  display: grid;
  padding-top: 230px;
}






